*,
*::before,
*::after{
  box-sizing:border-box;
}

html{
  font-size:14px;
}

html,
body{
  margin:0;
  padding:0;
}

body{
  font-family: system-ui, sans-serif;
  font-size:1rem;
  font-weight:400;
}

h1,h2,h3,h4,h5,h6{
  font-weight:700;
}

h1{
  font-size:1.375rem;
}

h2{
  font-size:1.3rem;
}

h3{
  font-size:1.25rem;
}

h4{
  font-size:1.175rem;
}

h5{
  font-size:1.15rem;
}

h6{
  font-size:1.125rem;
}

.important{
  font-size:1.075rem;
  font-weight:500;
}

b,
strong{
  font-size:1.025rem;
  font-weight:600;
}

i{
  font-style:italic;
  font-size:.975rem;
  font-weight:400;
}

.small{
  font-size:.95rem;
  font-weight:300;
}

img{
  max-width: 100%;
  height:auto;
}

a,
a:visited{
  width:max-content;
  display:inline-flex;
  justify-content:center;
  align-items:center;
  text-align:left;
  text-underline-offset: .15rem;
  color:slateblue;
  font-size:1.015rem;
  font-weight:500;
  transition: color .175s ease-out;

  &:hover{
    color:darkslateblue;
  }
}

menu,
ul{
  list-style:none;
  padding-left:0;

  li::before{
    content:"➡️";
    display:inline-flex;
    margin-right:.075rem;
  }
}

button{
  width:max-content;
  display:inline-flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  border:unset;
  border-radius:4rem;
  margin-inline:.25rem;
  padding-block:.2rem;
  padding-inline:.8rem;
  outline:.1rem solid slateblue;

  &:hover{
    outline-color:darkslateblue;
  }

  &:focus{
    outline-width:.25rem;
  }
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;

  &:hover{
    font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  }
}

main,
.main-content{
  width:100%;
  min-height:100dvh;
}

.error-sections{
  width:max-content;
  background-color:#cd1717;
  color:#fff;
  margin-inline:auto;
  padding-block:.8rem;
  padding-inline:1.2rem;

  a,
  a:visited{
    color:#f2f2f2;

    &:hover{
      color:#fce8e8;
      text-underline-offset: .35rem;
    }
  }
}